﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Downloader.aspx.cs" Inherits="CallManager.Prototype.Downloader" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
	Attempting to Download File
	<asp:Label ID="lblResponse" runat="server"></asp:Label>
</asp:Content>
